/*Nav*/
.navWrapper {
    background: #0e1821;
}

.navbar-brand {
    color: #ffffff;
}

.nav-link {
    color: rgba(255, 255, 255, 0.6);
}

.nav-link:hover {
    color: #d9ebe9;
}

.nav-link.active {
    color: #ffffff;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(217, 235, 233, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(217, 235, 233);
}

/*Hero*/
.heroWrapper {
    min-height: 32rem;
    background: linear-gradient(90deg, rgba(57, 61, 61, 0.43), rgba(14, 24, 33, 0.69)),url("../img/herobackground.jpg") center center no-repeat;
    background-size: cover;
}

.jumbotronWrapper {
    background-color: rgba(68, 83, 94, 0.9);
    color: white;
}

/*Additional Info*/
.icon{
   font-size: 2rem;
}
.additionalInfoWrapper {
    min-height: 14rem;
    background-color: #0e1821;
}
/*Recipe Section*/

.searchDataWrapper {
    min-height: 50rem;
}

.card {
    max-width: 20rem;
}
/*Footer*/

.footerWrapper {
    background-color: #0e1821;
}

.footer-link {
    color: #ffffff;
    text-decoration: none;
}

.footer-link:hover {
    color: #44535e;
}